body {
  background-color: lightblue;
}

h1 {
  background-color: lightcoral;
}

div.Home {
  background-color: lightgreen;
}

img {
  display: flex;
  padding: 10px;
}

.App {
  text-align: center;
}

.Home {
  display: flex;
  height: auto;
  width: auto;
  padding: 5px;
  margin: auto;
  border: solid black;
}

.Header {
  position: -webkit-sticky;
  display: grid;
  grid-template-columns: 15% 60% 25%;
  grid-template-rows: 20%;
  background-color: orange;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 3px;
  width: auto;
  font-size: 12px;
}

.Nav {
  margin: 0px;
  width: 100px;
  padding: 0px;
  margin: auto;
}

.ArticleList {
  display: grid;
  flex-direction: column;
  align-items: center;
}

nav {
  background-color: lightgreen;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
nav {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
nav:hover {
  background-color: orangered;
  color: black;
}

/* Add a color to the active/current link */
nav.active {
  background-color: orangered;
  color: white;
}

button {
  background-color: lightblue;
}
